{% extends 'base.html' %}


{% block jumbotron2 %}
  <div class="container">

			<!-- Main component for a primary marketing message or call to action -->
			<div class="jumbotron">
			<h1> Hello {{ username_is }}</h1>
			<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
			<p>To see the difference between static and fixed top navbars, just scroll.</p>
			<p>
			<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
			</p>
			</div>
  </div>
{% endblock %}




{% block context %}
<div class="row">
{% for product in products %}
	<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    
	{% for img in product.productimage_set.all %}
		<div>
  			<img class="no-resize" src="{{ MEDIA_URL }}{{ img.image }}" width="300" height="300">
		</div>
	{% endfor %}
     <hr>
	    <div class="caption" style="margin-top: 0px;">
	        <h3> {{ product.title }}</h3>
	        <h4> {{ product.sale_price }}</h4>
	        <p style="width: 90%;
				    display: block;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				    overflow: hidden;">
				    {{ product.description }}</p>
	        <p><a href="{{ product.get_absolute_url }}" class="btn btn-primary" role="button" style="width: 90%;">View</a></p>
	      </div>
	    </div>
  </div>
{% endfor %}
</div>
{% endblock %}